*

!*/
!README.md
!.gitignore
!requirements.txt

!*.py
!templates/**/*.html

!static/image/**/*.png
!static/image/**/*.webp

!static/fonts/**/*.ttf

!static/script/**/*.js
!static/style/**/*.css

.venv
