<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/style.css") }}">
</head>
<body>
    <header>
        <div class="user_auth">
        {% if not "user_name" in session %}
            <a href="{{ url_for("sign_display") }}">sign</a>
            <a href="{{ url_for("login_display") }}">login</a>
        {% else %}
            <a href="{{ url_for("logout_auth") }}">logout</a>
        {% endif %}
        </div>

        <div class="tlodoa_logo">
            <img src="{{ url_for("static", filename="image/tlodoa_logo.png") }}">
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if "message" in session %}
        <div class="message">
            {{ session.message }}
        </div>
    {% endif %}
</body>
</html>
