<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/fonts.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="style/layouts/layout_1.css") }}">

    <script src="{{ url_for("static", filename="script/layouts/layout_1.js") }}" type="module" defer></script>

    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    -->

    {% block system_style %}{% endblock %}
    {% block system_javascript %}{% endblock %}

    {% block page_style %}{% endblock %}
    {% block page_javascript %}{% endblock %}
     
</head>
<body>
    

    <header>
        {% if not "user_name" in request.cookies %}
        <div class="user_bar">
            <a href="{{ url_for("login_display") }}">
                <h3 class="btn">
                    Login
                </h3>
            </a>

            <a href="{{ url_for("sign_display") }}">
                <h3 class="btn">
                    Sign
                </h3>
            </a>
        </div>

        <div class="tlodoa_banner_1">
            <img src="{{ url_for("static", filename="image/banner/tlodoa_banner_1.png") }}">
        </div>

        {% else %}
        <div class="tlodoa_banner_2">
            <a href="{{ url_for("view_index") }}">
                <img src="{{ url_for("static", filename="image/banner/tlodoa_banner_2.png") }}">
            </a>
        </div>

        <div class="user_bar">
            <a href="{{ url_for("view_user_infos_self") }}">
                <h3 class="btn">
                    Hello {{ session.user_name }}!!
                </h3>
            </a>

            <div id="menu">
                <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png" id="menu_icon">

                <div id="menu_main">
                    <ul id="menu_options">
                        <li>
                            <a href="{{ url_for("view_user_objects") }}">
                                <h2>
                                    My objects
                                </h2>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for("view_user_card") }}">
                                <h2>
                                    Card
                                </h2>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for("view_user_settings") }}">
                                <h2>
                                    Settings
                                </h2>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for("logout_auth") }}">
                                <h2>
                                    Logout
                                </h2>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        {% endif %}
    </header>
    <div class="header_space"></div>

    {% block content %}
        <main>
            {% block content_main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    {% endblock %}

    <div id="message_logs" class="animation_sliding"></div>
</body>
</html>
