<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/fonts.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="style/layout_1.css") }}">

    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    -->

    {% block style_system %}{% endblock %}
    {% block style_page %}{% endblock %}

    {% block javascript_page %}{% endblock %}
    {% block javascript_system %}{% endblock %}
     
</head>
<body>
    <div id="message_logs"></div>

    <header>
        {% if not "user_name" in request.cookies %}
            <div class="user_auth">
                <a href="{{ url_for("login_display") }}">login</a>
                <a href="{{ url_for("sign_display") }}">sign</a>
            </div>

            <div class="tlodoa_logo_1">
                <img src="{{ url_for("static", filename="image/tlodoa_logo.png") }}">
            </div>
        {% else %}
            <div class="tlodoa_logo_2">
                <a href="{{ url_for("view_index") }}">
                    <img src="{{ url_for("static", filename="image/tlodoa_banner.png") }}">
                </a>
            </div>

            <div class="hd-buttons">
                <a href="{{ url_for("view_user_card", token="1234") }}">
                    <h3 class="btn">
                        {{ session.user_card }} Bitc
                    </h3>
                </a>

                <a href="{{ url_for("view_user_infos_self") }}">
                    <h3 class="btn">
                        Hello {{ session.user_name }}!!
                    </h3>
                </a>

                <a href="{{ url_for("logout_auth") }}">
                    <h3 class="btn btn_exit">
                        logout
                    </h3>
                </a>
            </div>
        {% endif %}
    </header>
    <div class="header_space"></div>

    {% block content %}
        <main>
            {% block content_main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    {% endblock %}
</body>
</html>
