<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style/layout_1.css") }}">

    {% block style %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>
    <header>
        {% if not "user_name" in session %}
        <div class="user_auth">
            <a href="{{ url_for("sign_display") }}">sign</a>
            <a href="{{ url_for("login_display") }}">login</a>
        </div>

        <div class="tlodoa_logo">
            <img src="{{ url_for("static", filename="image/tlodoa_logo.png") }}">
        </div>
        {% else %}
        <div class="tlodoa_logo">
            <img src="{{ url_for("static", filename="image/tlodoa_banner.png") }}">
        </div>

        <div class="user_infos">
            <h3>Hello {{ session.user_name }}</h3>
            <a href="{{ url_for("logout_auth") }}">logout</a>
        </div>
        {% endif %}
    </header>

    {% block content %}
        <main>
            {% block content_main %}{% endblock %}
        </main>
    {% endblock %}

    {% if "message" in session %}
        <div class="message">
            {{ session.message }}
        </div>
    {% endif %}
</body>
</html>
