{% extends "default/layout_1.html" %}

{% block style %}
<link href="{{ url_for("static", filename="style/layout_4.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <section class="interface_left">
        <div class="main_1">
            {% block content_main_1 %}{% endblock %}
        </div>

        <div class="main_3">
            {% block content_main_3 %}{% endblock %}
        </div>
    </section>

    <section class="interface_right">
        <div class="main_2">
            {% block content_main_2 %}{% endblock %}
        </div>
    </section>
</main>

<footer>
    {% block footer %}{% endblock %}
</footer>
{% endblock %}
