:root{
    --header_height: 120px;
    --main_height: calc(100% - var(--header_height) - 50px);
    --user_data_input_get_height: 250px;
    --input_width: 80%;
    
    --block_1_color: #7ed957;
    --block_2_color: #ffde59;
    --block_3_color: #191996;
}


/* */
html *{
    margin: 0px;
    font-size: 1em;
    font-family: Outfit !important;
}


body{
    height: auto;
    width: 100vw;
    background-color: rgb(139, 197, 252);
    overflow-x: hidden;
}


header {
    width: 80%;
    height: var(--header_height);
    padding: 20px;
    margin: 30px auto 0px auto;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 0px #000000;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main{
    display: flex;
    height: var(--main_height);
    width: 100%;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}


/* */
p, input[type="text"]{
    font-size: 1em;
}


h1{
    font-size: 2em;
}


h2{
    font-size: 1.5em;
}


h3{
    font-size: 1.17em;
}


h4{
    font-size: 1.33em;
}


h5{
    font-size: 1.67em;
}


h6{
    font-size: 2.33em;
}


button:hover{
    cursor: pointer;
    background-color: black;
    color:#7ed957;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}


.block_1_generic{
    background-color: var(--block_1_color);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 6px 6px 0px #000000;
}


.block_1_generic:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 0px #000000;
}


.block_2_generic{
    background-color: var(--block_2_color);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 6px 6px 0px #000000;
}


.block_2_generic:hover {
    transform: translateY(-2px);
    box-shadow: 8px 8px 0px #000000;
}


.tlodoa_banner_1 img{
    width: 120px;
    height: auto;
}


.tlodoa_banner_2 img{
    width: 500px;
    height: auto;
}


/* User Menu */
.user_bar{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 100%;
    align-items: center;
    gap: 10px;
}


#menu {
    height: 70%;
}


#menu_icon {
    height: 100%;
    cursor: pointer;
    transition: rotate 0.5s, transform 0.2s;
    filter: drop-shadow(3px 3px 0px #000000);
}


#menu_icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 0px #000000);
}


.menu_icon__spin90 {
    rotate: 90deg;
}


.menu_icon__spin00 {
    rotate: 0deg;
}


#menu_main {
    display: none;
    width: 350px;
    height: auto;
    max-height: 80vh;
    position: absolute;
    z-index: 2;
    right: 35px;
    top: 150px;
    
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    
    overflow-y: auto;
    box-shadow: 10px 10px 0px #000000;
}


#menu_options {
    display: grid;
    grid-auto-flow: row;
    padding: 10px;
    list-style: none;
    height: 90%;

    overflow-y: scroll;
}


#menu_options > li {
    background-color: white;
    border-style: solid;
    border-width: 2px 5px 5px 2px;
    border-color: black;
    margin: 0px 0px 10px 0px;
    width: 95%;

    border-radius: 5px;
    transition: background-color 0.2s;
    box-shadow: 4px 4px 0px #000000;

    min-height: 65px;
}


#menu_options li > a {
    color: black;
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
    border-radius: 5px;
    text-shadow: 2px 2px 0px #000000;
}


#menu_options li:hover a{
    background-color: var(--block_3_color);
    color: white;
    transform: translateX(5px);
    text-shadow: 3px 3px 0px #000000;
}


/* User auth / User input */
.user_data_input{
    display: grid;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #000000;
}

.user_data_input input{
    padding: 12px;
    margin: 0px 0px 15px 0px;
    border-radius: 8px;
    width: 90%;

    border: 2px solid var(--block_3_color);
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1em;
    box-shadow: 4px 4px 0px #000000;
}

.user_data_input_get input{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


.user_data_input_get input:focus {
    outline: none;
    border-color: var(--block_2_color);
    box-shadow: 6px 6px 0px #000000;
}


.user_data_input_get{
    height: var(--user_data_input_get_height);
}


/* Buttons */
.btn {
    background-color: var(--block_3_color);
    padding: 25px 50px;
    box-shadow: 6px 6px 0px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    text-shadow: 2px 2px 0px #000000;
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 8px 8px 0px #000000;
    background-color: #1a1a6f;
    text-shadow: 3px 3px 0px #000000;
}


.btn:active {
    transform: translateY(-1px);
    box-shadow: 3px 3px 0px #000000;
}


.btn_exit {
    padding: 12px 25px;
    box-shadow: 6px 6px 0px #000000;
    background-color: var(--block_1_color);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    text-shadow: 2px 2px 0px #000000;
}
.btn:hover{
    background-color:#7ed957;


.btn_exit:hover {
    transform: translateY(-3px);
    box-shadow: 8px 8px 0px #000000;
    background-color: #6bc841;
    text-shadow: 3px 3px 0px #000000;
}


.btn_exit:active {
    transform: translateY(-1px);
    box-shadow: 3px 3px 0px #000000;
}


/* Expand */
.expand__body{
    font-size: 17px !important;
}


.expand__user_data_input{
    width: 400px;
    height: 400px;

    padding: 10px 20px 10px 20px;
}


/* Reduce */
.reduce__body{
    font-size: 22px !important;
}


.reduce__user_data_input{
    height: 500px;
    width: 550px;

    margin: 0px 0px 20px 0px;
}


/* Responsividade */
@media (max-width: 1024px) {
    :root {
        --header_height: 100px;
    }
    
    header {
        width: 85%;
        padding: 15px;
        flex-wrap: wrap;
        box-shadow: 6px 6px 0px #000000;
    }
    
    .tlodoa_banner_2 img {
        width: 300px;
    }
    
    #menu_main {
        width: 300px;
        right: 20px;
        top: 120px;
        box-shadow: 8px 8px 0px #000000;
    }
    
    .expand__user_data_input {
        width: 350px;
    }
}


@media (max-width: 768px) {
    :root {
        --header_height: 80px;
    }
    
    header {
        width: 90%;
        padding: 10px;
        flex-direction: column;
        height: auto;
        box-shadow: 5px 5px 0px #000000;
    }
    
    main {
        flex-direction: column;
    }
    
    .user_bar {
        width: 100%;
        margin-top: 10px;
    }
    
    .tlodoa_banner_1 img {
        width: 80px;
    }
    
    .tlodoa_banner_2 img {
        width: 250px;
    }
    
    #menu_main {
        width: 90%;
        left: 5%;
        right: auto;
        top: 100px;
        box-shadow: 6px 6px 0px #000000;
    }
    
    .user_data_input {
        padding: 20px;
        box-shadow: 6px 6px 0px #000000;
    }
    
    .user_data_input_get input {
        width: 100%;
        box-shadow: 3px 3px 0px #000000;
    }
    
    .expand__user_data_input {
        width: 100%;
        height: auto;
    }
    
    .reduce__user_data_input {
        width: 100%;
        height: auto;
    }
    
    .btn {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        box-shadow: 5px 5px 0px #000000;
    }
    
    .btn:hover {
        box-shadow: 6px 6px 0px #000000;
    }
    
    .btn_exit {
        width: 100%;
        margin-top: 10px;
        box-shadow: 5px 5px 0px #000000;
    }
    
    .btn_exit:hover {
        box-shadow: 6px 6px 0px #000000;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.2em;
    }
}


@media (max-width: 480px) {
    :root {
        --header_height: 70px;
    }
    
    header {
        width: 95%;
        box-shadow: 4px 4px 0px #000000;
    }
    
    .tlodoa_banner_1 img {
        width: 60px;
    }
    
    .tlodoa_banner_2 img {
        width: 150px;
    }
    
    .user_bar {
        width: 100%;
    }
    
    #menu_main {
        width: 95%;
        left: 2.5%;
        box-shadow: 5px 5px 0px #000000;
    }
    
    .btn, .btn_exit {
        padding: 10px 15px;
        font-size: 0.9em;
        box-shadow: 4px 4px 0px #000000;
    }
    
    .btn:hover, .btn_exit:hover {
        box-shadow: 5px 5px 0px #000000;
    }
    
    h1 {
        font-size: 1.3em;
    }
}
