:root{
    --header_height: 120px;

    --main_height: calc(100% - var(--header_height) - 50px);

    /* */
    --user_data_input_get_height: 250px;

    --input_width: 80%;

    /* */
    --block_1_color: #7ed957;
    --block_2_color: #ffde59;
    --block_3_color: #191996;
}

/* */
html *{
    margin: 0px;

    font-size: 1em;
    font-family: Outfit !important;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: rgb(139, 197, 252);
}
  
header {
    width: auto;
    height: var(--header_height);
    padding: 20px;
    margin: 30px 30px 0px 30px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    height: var(--main_height);
}

a {
    color: white;
    text-decoration: none;
}

/* */
p, input[type="text"]{
    font-size: 1em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.17em;
}

h4{
    font-size: 1.33em;
}

h5{
    font-size:  1.67em;
}

h6{
    font-size: 2.33em
}

button:hover{
    cursor: pointer;
}

.block_1_generic{
    background-color: var(--block_1_color);
    border-radius: 5px;
}

.block_2_generic{
    background-color: var(--block_2_color);
    border-radius: 5px;
}


/* Banner */
.tlodoa_banner_1 img{
    width: 120px;
    
}

.tlodoa_banner_2 img{
    width: 420px;
}

/* User Menu */
.user_bar{
    display: flex;
    justify-content: space-between;

    width: 270px;
    height: 100%;
    align-items: center;
}


#menu {
    height: 70%;
}

#menu_icon {
    height: 100%;
    cursor: pointer;

    transition: rotate 0.5s;
}

.menu_icon__spin90 {
    rotate: 90deg;
}

.menu_icon__spin00 {
    rotate: 0deg;
}


#menu_main {
    display: none;

    width: 350px;
    height: 400px;

    position: absolute;
    z-index: 2;
    right: 35px;
    top: 150px;

    background-color: white;

    border-style: solid;
    border-width: 5px;
    border-color: black;

    overflow-x: hidden;
}

#menu_options {
    display: grid;
    grid-auto-flow: row;

    padding: 10px;
    list-style: none;

    height: 90%;
}


#menu_options > li {
    background-color: white;

    border-style: solid;
    border-width: 2px 5px 5px 2px;
    border-color: black;

    margin: 0px 0px 10px 0px;

    width: 95%;
}

#menu_options li > a {
    color: black;
    display: block;

    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;

    background-color: white;

    transition: background-color 0.3s, color 0.3s;
}

#menu_options li:hover a{
    background-color: var(--block_3_color);
    color: white;
}

/* User auth / User input */
.user_data_input{
    display: grid;
    align-items: center;

    padding: 30px;
    border-radius: 25px;
}

.user_data_input_get input{
    padding: 12px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;

    width: 90%;
}

.user_data_input_get{
    height: var(--user_data_input_get_height);
}

/* Buttons */
.btn {
    background-color: var(--block_3_color);
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    margin-left: 20px;
}

.btn_exit {
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--block_1_color);
}

/* Message logs */
#message_logs{
    position: fixed;

    width: 100vw;
    padding: 20px;

    display: flex;
    justify-content: center;

    background-color: green;
}

/* Expand */
.expand__body{
    font-size: 17px !important;
}

.expand__user_data_input{
    width: 400px;
    height: 400px;

    padding: 5px 20px 5px 20px;
}

/* Reduce */
.reduce__body{
    font-size: 22px !important;
}

.reduce__user_data_input{
    height: 500px;
    width: 450px;
}
