:root{
    --header_height: 120px;

    --main_height: calc(100% - var(--header_height) - 50px);

    /* */
    --user_data_input_get_height: 250px;

    --input_width: 80%;

    /* */
    --block_1_color: #7ed957;

    --block_2_color: #ffea95;
}

/* */
html *{
    margin: 0px;

    font-size: 1em;
    font-family: Outfit !important;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: rgb(158, 202, 255);
}
  
header {
    width: auto;
    height: var(--header_height);
    padding: 20px;
    margin: 30px 30px 0px 30px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    height: var(--main_height);
    border-radius: 3px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* */
p, input[type="text"]{
    font-size: 1em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.17em;
}

h4{
    font-size: 1.33em;
}

h5{
    font-size:  1.67em;
}

h6{
    font-size: 2.33em
}

button{
    background-color:white ;
    border-radius: 5px;
    border-style:hidden;
}
button:hover{
    cursor: pointer;
    background-color: #0000;
    color:#7ed957;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.block_1_generic{
    background-color: var(--block_1_color);
    border-radius: 5px;
}

.block_2_generic{
    background-color: var(--block_2_color);
    border-radius: 5px;
}


/* Banner */
.tlodoa_banner_1 img{
    width: 200px;
    
}

.tlodoa_banner_2 img{
    width: 420px;
}

/* User auth / User input */
.user_menu{
    display: flex;
    justify-content: space-between;

    overflow-x: scroll;
}

.user_data_input{
    display: grid;
    align-items: center;

    padding: 30px;
    border-radius: 25px;
}

.user_data_input_get input{
    padding: 12px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;

    width: 90%;
}

.user_data_input_get{
    height: var(--user_data_input_get_height);
}

input{
    border-style: hidden;
}
input:hover{
    border-style: solid;
    border-color:blue
}

/* Buttons */
.btn {
    background-color: rgb(252, 124, 19);
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.36);
    display: flex;
    margin-left: 20px;
}

.btn_exit {
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--block_1_color);
}
.btn:hover{
    background-color:#7ed957;

     transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/* Message logs */

#message_logs{
height:40px;
width: 450px;
background-color: transparent;

}
#message_logs:not(:empty) {
    background-color: #ffde59;
    width: 30%;
    border-radius: 5px;
    animation: sliding 03s forwards;
    text-align: center;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.779);
    
}
.animation_sliding{
    animation-name: sliding;
    animation-duration: 0.3s;
    transition-timing-function: ease-in;
}
    
@keyframes sliding{
    from{
        transform: translate(120%,-3000%);
    }   
    to{
    transform: translate(120%,-1600%);
    }
}

/* Expand */
.expand__body{
    font-size: 17px !important;
}

.expand__user_data_input{
    width: 400px;
    height: 400px;

    padding: 5px 20px 5px 20px;
}

/* Reduce */
.reduce__body{
    font-size: 22px !important;
}

.reduce__user_data_input{
    height: 500px;
    width: 450px;
}
