{% extends "/default/layout_1.html" %}

<!-- -->
{% block style %}
<link rel="stylesheet" href="{{ url_for("static", filename="style/ERROR.css") }}">
{% endblock %}

<!-- -->
{% block title %}ERROR {{ response.status_code }} {% endblock %}

{% block content_main %}
<div class="ERROR">
    <div class="ERROR_title">
        <h1>
            ERROR {{ response.status_code }}
        </h1>
    </div>

    <div class="ERROR_content">
        <h3>
            {{ response.name }}
        </h3>

        <p>
            {{ response.message }}
        </p>
    </div>

</div>
{% endblock %}
