@font-face{
    font-family: Outfit;
    src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

@font-face{
    font-family: JosefinSans;
    src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
