* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    width: 1000px;
    height: 60px;
    background-color: #ffc8a3;
    border: white solid 4px;
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.btn-nav {
    background-color: rgb(25, 25, 150);;
}
