*{
    margin: 0px;
}

body {
    background: #6a34c6; /* Roxo do fundo */

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
}

.container {
    background: #6a34c6;


    min-height: 100vh;

    padding: 10px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}

.logo {
    font-weight: bold;
    font-size: 18px;

    color: #FFD700; /* Yellow */
}

.search-box {
    display: flex;
    align-items: center;

    background: white;
    border-radius: 5px;

    padding: 3px;
    border: 1px solid #ccc;
}

.search-box input {
    border: none;
    outline: none;
    padding: 2px;


}

/* Botões */
.btn {
    display: inline-block;

    text-align: center;
    text-decoration: none;

    font-weight: bold;

    margin: 5px;
    padding: 15px;

    border-radius: 10px;
    border: 1px solid black;

    cursor: pointer;

    color: black;
}

.btn-lance {
    color: black;
    background: orange;

    display: block;
}

.btn-l2 {
    background: #f7d768;

}

.btn-l1 {
    background: #f7d768;

}

/* Linhas de botões */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Rodapé */
.footer {
    display: flex;
    align-items: center;

    padding: 8px;
    margin-top: auto;
    border-radius: 8px;
    border: 1px solid black;

    font-size: 14px;

    background: white;

    gap: 8px;
}

.footer img {

    height: 25px;
}
