.main_expand{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}

.main_reduce{
    display: grid;
    align-content: start;

    margin: 20px 0px 20px 0px;
}

.main_reduce > .section_reduce {
    position: relative;

    margin: 20px 0px 0px 0px;
}


#main_1{
    display: flex;
    justify-content: center;
}

#main_2{
    display: flex;
    justify-content: center;

}

button{
    cursor:pointer;
    background-color:rgb(189, 208, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: hidden;
    height:40px;
    width: 400px;
}

button:hover{
    background-color:rgb(95, 111, 152);
    color: rgb(221, 255, 221);
    transition: all 0.2s ease-out;

}
