:root{
    --main_1_width: 45%;
    --main_1_height: 80%;

    --main_2_width: 45%;
    --main_2_height: 80%;
}

main{
    display: flex;

    justify-content: center;
    align-items:center;
}

.main_1{
    width: var(--main_1_width);
    height: var(--main_1_height);

    display: flex;
    justify-content: center;
}

.main_2{
    width: var(--main_2_width);
    height: var(--main_2_height);

    display: flex;
    justify-content: center;

}

input{
    width:400px;
}

button{
    cursor:pointer;
    background-color:rgb(189, 208, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: hidden;
    height:40px;
    width: 400px;
}

button:hover{
    background-color:rgb(95, 111, 152);
    color: rgb(221, 255, 221);
    transition: all 0.2s ease-out;

}
