:root{
    --main_1_width: 45%;
    --main_1_height: 80%;

    --main_2_width: 45%;
    --main_2_height: 80%;
}

main{
    display: flex;

    justify-content: center;
    align-items:center;
}

.main_1{
    width: var(--main_1_width);
    height: var(--main_1_height);

    display: flex;
    justify-content: center;
}

.main_2{
    width: var(--main_2_width);
    height: var(--main_2_height);

    display: flex;
    justify-content: center;

}
