:root{
    --header_height: 10%;

    --main_height: 90%;

    /* */
    --user_data_input_width: 400px;
    --user_data_input_height: 350px;

    --user_data_input_get_height: 250px;

    --input_width: 80%;
}

/* */
*{
    margin: 0px;
}

body{
    height: 100vh;

    background-color: rgb(139, 197, 252);
    background-image: url(../image/clouds\ background.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header_height);
    padding: 20px 40px;
    margin: 10px;
  }
  
  header {
    width: 1000px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  }

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--main_height);

    padding: 10px;
}

p, input[type="text"]{
    font-family: Outfit;
    font-size: 22px;
}

/* */
.tlodoa_logo_1 img{
    width: 90px;
    
}

.tlodoa_logo_2 img{
    width: 450px;
}

/* */
.user_auth > a {
    background-color: blue;
    padding: 20px;
    margin: 5px;

    color:white;
}

.user_data_input{
    padding: 5px 20px 5px 20px;

    background-color: #7ed957;

    width: var(--user_data_input_width);
    height: var(--user_data_input_height);

    display: grid;
    align-items: center;

    border-radius: 25px;
}

.user_data_input_get input{
    padding: 5px;
    margin: 0px 0px 5px 0px;

    width: var(--input_width);
}

.user_data_input_get{
    height: var(--user_data_input_get_height);
}

.user_infos {
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 75px;
    margin-left: 40px;
}

.btn {
    background-color: rgb(25, 25, 150);
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: white;
    text-decoration: none;
    font-family: Outfit;
}

.exit {
    padding: 25px;
    background-color: #7ed957;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}