:root{
    --header_height: 120px;

    --main_height: calc(100vh - var(--header_height));

    /* */
    --user_data_input_width: 500px;
    --user_data_input_height: 400px;

    --user_data_input_get_height: 250px;

    --input_width: 80%;
}

/* */
*{
    margin: 0px;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: rgb(139, 197, 252);
}
  
header {
    width: auto;
    height: var(--header_height);
    padding: 20px;
    margin: 30px 30px 0px 30px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    height: var(--main_height);
}

p, input[type="text"], a{
    font-family: Outfit;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
}


/* */
.tlodoa_logo_1 img{
    width: 90px;
    
}

.tlodoa_logo_2 img{
    width: 420px;
}

/* */
.user_auth > a {
    background-color: blue;
    padding: 20px;
    margin: 5px;

    color:white;
}

.user_data_input{
    padding: 5px 20px 5px 20px;

    background-color: #7ed957;

    width: var(--user_data_input_width);
    height: var(--user_data_input_height);

    display: grid;
    align-items: center;

    border-radius: 25px;
}

.user_data_input_get input{
    padding: 5px;
    margin: 0px 0px 5px 0px;

    width: var(--input_width);
}

.user_data_input_get{
    height: var(--user_data_input_get_height);
}

/* */
.hd-buttons {
    display: flex;
    height: 75px;
    width: auto;
}

.btn {
    background-color: rgb(25, 25, 150);
    padding: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    margin-left: 20px;
}

.btn_exit {
    padding: 25px;
    background-color: #7ed957;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

/* */
#message_logs{
    position: fixed;

    width: 100vw;
    padding: 20px;

    display: flex;
    justify-content: center;

    background-color: green;
}
