*{
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
    margin: 10px;
}

main {
    padding: 10px;
}

.tlodoa_logo > img{
    width: 90px;
    
}

.user_auth > a {
    background-color: blue;
    padding: 20px;
    margin: 5px;

    color:white;
}
