.main_1{
    overflow-x: scroll;
}

/* */
#user_infos_core{
    padding: 0px 10px 0px 10px;
}

#profile_photo{
    border-radius: 50%;

    min-width: 100px;
    min-height: 100px;

    max-height: 100%;
    max-width: 100%;

    object-fit: cover;
}

#user_header{
    height: 100%;
}

#user_header > h1 {
    text-align: center;
}

#user_header > h3 {
    padding: 10px;
    overflow-y: scroll;

    background-color: var(--block_slide_2_color);
}

/* Expand */
.user_infos_core_expand{
    display: flex;
    justify-content: space-between;

    align-items:center;
}

.profile_photo_expand{
    width: 50%;
}

.user_header_expand{
    display: grid;
    align-items: center;

    width: 50%;
    margin: 0px 0px 0px 30px;
}

.user_header_expand > h3{
    height: 70%;
    margin: 0px 10px 0px 10px;
}

/* Reduce */
.user_infos_core_reduce{
    display: grid;
    justify-content: flex-start;
}

.profile_photo_reduce{
    width: 100%;
}

.user_header_reduce{
    display: grid;
    align-items: center;

    width: 100%;
    margin: 30px 0px 0px 0px;
}

.user_header_reduce > h3{
    margin: 10px 0px 10px 0px;
}
