.main_1{
    overflow-x: scroll;
}

/* */
#user_infos_core{
    padding: 0px 10px 0px 10px;
}

#profile_photo{
    border-radius: 50%;

    min-width: 100px;
    min-height: 100px;

    max-height: 100%;
    max-width: 100%;

    object-fit: cover;
}

#user_header{
    height: 100%;
}

#user_header > h1 {
    text-align: center;
}

#user_header > h3 {
    padding: 10px;
    overflow-y: scroll;
    max-height: 200px;

    background-color: var(--block_slide_2_color);
}

/* Expand */
.expand__user_infos_core{
    display: flex;
    justify-content: space-between;

    align-items:center;
}

.expand__profile_photo{
    width: 50%;
}

.expand__user_header{
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);

    width: 50%;
    margin: 0px 0px 0px 30px;
}

.expand__user_header > h3{
    margin: 0px 10px 0px 10px;
}

/* Reduce */
.reduce__user_infos_core{
    display: grid;
    grid-template-rows: 50% 50%;
}

.reduce__profile_photo{
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.reduce__user_header{
    display: grid;
    grid-template-rows: 20% 80%;

    width: 100%;
    margin: 30px 0px 30px 0px;
}

.reduce__user_header > h3{
    margin: 10px 0px 10px 0px;
}
