.main_1, .main_2, .main_3{
    background-color: var(--block_1_color);
    overflow-x: scroll;

    border-radius: 5px;
}


/* User portfolio */
.portfolio{
    height: 100%;
    width: 100%;

    overflow-y: scroll;
}

.user_header_bar{
    display: flex;
    justify-content: space-between;
}

/* Portfolio buttons */
#userPage_button_edit_profile_ok{
    display: none;
}

#userPage_button_edit_profile, #userPage_button_edit_profile_ok{
    background-color: transparent;
    border: none;

    height: 100%;
    width: 87px;
}

#userPage_button_edit_profile > img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* Other elmenents of portfolio... */

.profile_photo{
    border-radius: 50%;

    min-width: 100px;
    min-height: 100px;

    max-height: 100%;
    max-width: 100%;

    object-fit: cover;
}

.user_header{
    height: 100%;
}

.user_header > h1 {
    text-align: center;
}

.user_header input {
    background-color: white !important;
    border: none;
    width: 100%;
}


.user_name_and_nick{
    max-width: 50%;
}

#nickname{
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 1.33em;
    
    padding: 0px;

    position: relative;
    bottom: 7px;
}


#userAbout{
    padding: 10px;
    overflow-y: scroll;
    max-height: 200px;

    background-color: var(--block_2_color);

    font-weight: normal;

}

/* User Infos */
.user_infos_core{
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;

    overflow-y: scroll;
}

.infos > ul{
    list-style-type: none;
    padding: 0px;
}

.infos > ul > li{
    padding: 10px;
    background-color: var(--block_2_color);
}


/* User activity */
.user_activity{
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    padding: 10px;
}

.activity > ul { 
    margin: 10px 0px 0px 0px;
    list-style-type: none;

    padding: 10px;

    background-color: var(--block_2_color);
}


/* Expand */
.expand__portfolio{
    display: flex;
    justify-content: space-between;

    align-items:center;
}

.expand__profile_photo{
    width: 50%;
}

.expand__user_header{
    display: grid;
    grid-template-rows: 80px calc(100% - 80px);

    width: 50%;
    margin: 0px 0px 0px 30px;
}

.expand__userAbout{
    margin: 0px 10px 0px 10px;

    max-width: calc(100% - 40px);
}

.expand__infos > ul > li{
    margin: 0px 0px 10px 0px;
}



/* Reduce */
.reduce__portfolio{
    display: grid;
    grid-template-rows: 50% 50%;
}

.reduce__profile_photo{
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.reduce__user_header{
    display: grid;
    grid-template-rows: 80px calc(100% - 80px);

    width: 100%;
    margin: 0px 0px 30px 0px;
}

.reduce__userAbout{
    margin: 10px 0px 10px 0px;

    max-width: calc(100% - 20px);
}

.reduce__infos > ul > li{
    margin: 0px 0px 20px 0px;
}
