{% extends "default/layout.html" %}

{% block title%}Index{% endblock %}

{% block content %}
<link href="{{ url_for("static", filename="style/index.css") }}" rel="stylesheet">
<!-- Header -->
<div class="header">
  <div class="logo">TLODOA</div>
  <div class="search-box">
      <input type="text" placeholder="SEARCH">
  </div>
</div>

<!-- Recomendation button -->
<div class="
<a href="lance.html" class="btn btn-lance">Recomendações de LANCE</a>

<!-- Linha de L2 
<div class="row">
  <a href="l2.html" class="btn btn-l2">L2</a>
  <a href="l2.html" class="btn btn-l2">L2</a>
</div>

Linha de L1
<div class="row">
  <a href="l1.html" class="btn btn-l1">L1</a>
  <a href="l1.html" class="btn btn-l1">L1</a>
  <a href="l1.html" class="btn btn-l1">L1</a>
  <a href="l1.html" class="btn btn-l1">L1</a>
</div>
-->

<!-- Rodapé -->
<footer class="footer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    <span>Converse com o Lorax!</span>
    <img src="{{ url_for("static", filename="image/Lorax.webp") }}" alt="Lorax">
</footer>
{% endblock %}
