{% extends "default/layout_3.html" %}

<!-- -->
{% block title %}Login{% endblock %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="script/login_fun.js") }}" type="module" defer></script>
{% endblock %}

<!-- -->
{% block content_main_1 %}
<form method="POST" class="user_data_input" id="login_form_email">
    <div class="user_data_input_get">
        <label>
            <h3>User name</h3>
        </label>
        <input type="text" autocomplete="off" name="user_name">

        <label>
            <h3>User email</h3>
        </label>
        <input type="text" autocomplete="off" name="user_email">

        <label> 
            <h3>Email code</h3>
        </label>
        <input type="text" autocomplete="off" name="user_email_code">
    </div>

    <button id="login_button_email_code_get">Get email code</button>
</form>
{% endblock %}

{% block content_main_2 %}
<form method="POST" class="user_data_input" id="login_form_password">
    <div class="user_data_input_get">
        <label>
            <h3>User password</h3>
        </label>
        <input type="text" autocomplete="off" required name="user_password">
    </div>
    
    <button id="login_button_finish">Finish</button>
</form>

{% endblock %}
