{% extends "default/layout.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for("login_auth") }}">
    <label>
        <p>User_name</p>
    </label>
    <input type="text" autocomplete="off" required name="user_name">

    <label>
        <p>User email</p>
    </label>
    <input type="text" autocomplete="off" required name="user_email">

    <label>
        <p>User password</p>
    </label>
    <input type="text" autocomplete="off" required name="user_password">

    <button type="submit" style="display:none"></button>
</form>
{% endblock %}

{% block message %}session.message{% endblock %}
