{% extends "default/layout_3.html" %}

<!-- -->
{% block title %}Sign{% endblock %}

{% block javascript %}
<script src="{{ url_for("static", filename="script/sign_fun.js") }}" type="module" defer></script>
{% endblock %}

<!-- -->
{% block content_main_1 %}
<form method="POST" class="user_data_input" id="sign_form_email">
    <div class="user_data_input_get">
        <label>
            <p>User name</p>
        </label>
        <input type="text" autocomplete="off" name="user_name">

        <label>
            <p>User email</p>
        </label>
        <input type="text" autocomplete="off" name="user_email">

        <label> 
            <p>User email code</p>
        </label>
        <input type="text" autocomplete="off" name="user_email_code">
    </div>

    <button id="sign_button_email_code_get">Get email code</button>
</form>
{% endblock %}

{% block content_main_2 %}
<form method="POST" class="user_data_input" id="sign_form_password">
    <div class="user_data_input_get">
        <label>
            <p>User password</p>
        </label>
        <input type="text" autocomplete="off" name="user_password">

        <label>
            <p>User password valid</p>
        </label>
        <input type="text" autocomplete="off" name="user_password_check">
    </div>

    <button id="sign_button_finish">Finish</button>
</form>
{% endblock %}

{% block footer %}
<div id="message_logs"></div>
{% endblock %}
