{% extends "default/layout.html" %}

{% block title %}Sign{% endblock %}
{% block content %}

<form method="POST" action="{{ url_for("sign_auth") }}">
    <label>
        <p>User Name</p>
    </label>
    <input type="text" autocomplete="off" name="user_name" required>

    <label>
        <p>User password</p>
    </label>
    <input type="text" autocomplete="off" name="user_password" required>

    <button type="submit" style="display:none"></button>
</form>

{% endblock %}
{% block message %}session.message{% endblock %}
