{% extends "default/layout_4.html" %}

<!-- -->
{% block page_style %}
<link href="{{ url_for("static", filename="style/user_page.css") }}" rel="stylesheet">
{% endblock %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="script/user_page.js") }}" type="module" defer></script>
{% endblock %}

<!-- -->
{% block title %}
{{ user["userName"] }}
{% endblock %}

{% block content_main_1 %}
<div class="user_portfolio block_1_generic">
    <div class="portfolio" id="portfolio">
        <img class="profile_photo" src="{{ url_for("static", filename=user["photoPath"]) }}">

        <div class="user_header">
            {% if not user["is_user"] %}
            <h1>
                {{ user["userName"] }}
            </h1>

            {% else %}
            <div class="portfolio_bar">
                <h1 id="userName">
                    {{ user["userName"] }}
                </h1>

                <button id="userPage_button_edit_profile">
                    <img src="{{ url_for("static", filename="image/icons/setting/setting.png") }}">
                </button>

                <button id="userPage_button_edit_profile_ok">
                    <h2>OK</h2>
                </button>
            </div>
            {% endif %}

            <h3 id="userAbout">
                {{ user["description"] }}
            </h3>
        </div>

    </div>

</div>
{% endblock %}

{% block content_main_3 %}
<div class="user_infos_core block_1_generic">
    <div class="infos">
        <ul>
        {% for i in user["infos"].keys() %}
        <li>
            <p>
                <b>{{ i }}</b>: {{ user["infos"][i] }} 
            </p>
        </li>
        {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}

{% block content_main_2 %}
<div class="user_activity block_1_generic">
    <div class="activity">
        <h2>User Activity</h2>

        <ul>
            {% for i in user["activity"] %}
            <li>
                <p> {{ i }} </p>
            </li>
            {% endfor %}

            {% if not user["activity"] %}
            <li>
                <p> This user doesn't have activity </p>
            </li>
            {% endif %}

        </ul>
    </div>
</div>
{% endblock %}
