{% extends "default/layout_4.html" %}

<!-- -->
{% block style_page %}
<link href="{{ url_for("static", filename="style/user_page.css") }}" rel="stylesheet">
{% endblock %}

<!-- -->
{% block title %}
{{ user["userName"] }}
{% endblock %}

{% block content_main_1 %}
<div class="user_infos_core">
    <img class="profile_photo" src="{{ url_for("static", filename=user["photoPath"]) }}">

    <div class="user_header">
        <h1>{{ user["userName"] }}</h1>
        <h3>{{ user["description"] }}</h3>
    </div>

</div>
{% endblock %}
